:root {
  // Basic
  --black: #000;
  --white: #fff;

  // Basic
  --primary: #00a3da;
  --primary-light: rgba(0,163,218,0.2);
  --secondary: #494959;

  // Gray
  --gray-100: #ededed;
  --gray-150: #e2e2e2;
  --gray-200: #dfdfdf;
  --gray-250: #d4d4d4;
  --gray-300: #c7c7c7;
  --gray-400: #888888;
  --gray-500: #595956;
  --gray-600: #333333;

  // Green
  --green-100: #b4e4cd;
  --green-300: #008351;

  // Red
  --red-300: #c62828;

  // Orange
  --orange-300: #e65100;

  // Yellow
  --yellow-100: #fbe1b7;
}
