/*
 * --- Fonts
*/

// -- Weight
$font-thin: 100;
$font-extra-light: 200;
$font-light: 300;
$font-regular: 400;
$font-medium: 500;
$font-semi-bold: 600;
$font-bold: 700;
$font-extra-bold: 800;

// -- Size
// Ex.: font-size: $text-sm;    
$text-2xs: 12px;
$text-xs: 13px;
$text-sm: 14px;
$text-base: 16px;
$text-lg: 18px;
$text-xl: 20px;
$text-2xl: 22px;
$text-3xl: 24px;
$text-4xl: 28px;

// -- Line height
// Ex.: line-height: $leading-tight;
$leading-normal: 1.5;
$leading-xl: 30px;
$leading-2xl: 32px;

// -- Letter Spacing
// Ex.: letter-spacing: $tracking-tight;
$tracking-normal: 0;

// -- Z-index
$z--1: -1;
$z-0: 0;
$z-10: 10;
$z-20: 20;
$z-30: 30;
$z-40: 40;
$z-50: 50;