//Fonts
$text-base:	1rem;

// Colors
$primary            : #00A3DA;
$secondary          : #D6EDF8;

$text-g-primary     : #333333;
$text-g-secondary   : #494959;

$button-background  : #FFF;
$button-selected    : #595956;
$button-hover       : #EDEDED;

$pale-grey          : #EFF3F4;
$icon               : #888888;
$login-background   : #84848480;
$error              : #d32f2f;